<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AccessibilityCheckList</title>
</head>

<body>
    <main id="main">
        <nav class="red accent-2">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#!" class="brand-logo">Accessibility Check List</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="about.html">About</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col s12 m9 l10">
                    <template v-for="(a, i) in contents">
                        <div v-bind:id="i" class="section scrollspy">
                            <h5> {{ (i + 1) + ". " + a.title }} </h5>
                            <br>
                            <ul class="collapsible" data-collapsible="expandable">
                                <template v-for="(b, j) in a.items">
                                    <li>
                                        <div class="collapsible-header" v-bind:id="i + '_' + j">
                                            <i class="material-icons">done</i>
                                            {{ `${i + 1}-${j + 1}.${b.head}` }}
                                            <!--<span class="right">
                                                <label><input type="radio" id="a" name="nam" > 対応済 </label>
                                                <label><input type="radio" id="a" name=nam"" > 対象外 </label>
                                            </span>-->
                                        </div>
                                        <div class="collapsible-body">{{ b.body }}</div>
                                    </li>
                                </template>
                            </ul>
                            <pre style="height:500px">
                            
                            </pre>
                            <!--<ul class="collapsible" data-collapsible="expandable">
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                </li>
                            </ul>-->
                        </div>
                    </template>
                </div>
                <div class="col hide-on-small-only m3 l2">
                    <ul class="section table-of-contents pined">
                        <template v-for="(a, i) in contents">
                            <li>
                                <a v-bind:href="'#' + i"> {{ (i + 1) + ". " + a.title }}</a>
                                <ul>
                                    <template v-for="(b, j) in a.items">
                                        <li class="innerList">
                                            <a v-bind:href="'#' + i + '_' + j"> {{ (i + 1) + '-' +(j + 1) + ". " + b.head }}</a>
                                        </li>
                                    </template>
                                </ul>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="index.js"></script>
</body>

</html>