<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AccessibilityCheckList</title>
</head>

<body>
    <main id="main">
        <div class="navbar-fixed">
            <nav class="red accent-2">
                <div class="nav-wrapper">
                    <div class="container">
                        <a class="brand-logo"><i class="material-icons">accessibility</i>web AccessibilityCheckList</a>
                        <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a v-on:click="openAll">Open All</a></li>
                            <li><a v-on:click="closeAll">Close All</a></li>
                            <li><a v-on:click="checkAll">Check All</a></li>
                            <li><a v-on:click="uncheckAll">Uncheck All</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            <li><a v-on:click="openAll">Open All</a></li>
                            <li><a v-on:click="closeAll">Close All</a></li>
                            <li><a v-on:click="checkAll">Check All</a></li>
                            <li><a v-on:click="uncheckAll">Uncheck All</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m9 l10">
                    <template v-for="(a, i) in contents">
                        <div v-bind:id="i" class="section scrollspy">
                            <h5>{{ (i + 1) + ". " + a.title }} </h5>
                            <br>
                            <ul>
                                <template v-for="(b, j) in a.items">
                                    <li>
                                        <div class="checklist-head" v-bind:id="i + '_' + j">
                                            <template v-if="b.isChecked">
                                                <div class="checkbox checkbox-on" v-on:click="b.isChecked = !b.isChecked"> <i class="material-icons">check_box</i> </div>
                                            </template>
                                            <template v-else>
                                                <div class="checkbox checkbox-off" v-on:click="b.isChecked = !b.isChecked"> <i class="material-icons">check_box_outline_blank</i> </div>
                                            </template>
                                            <div class="head-title" v-on:click="b.isChecked = !b.isChecked">
                                                {{ ` ${b.head}` }}
                                            </div>
                                            <template v-if="b.isOpen">
                                                <div class="expand" v-on:click="b.isOpen = !b.isOpen"> <i class="material-icons">expand_less</i></div>
                                            </template>
                                            <template v-else>
                                                <div class="expand" v-on:click="b.isOpen = !b.isOpen"> <i class="material-icons">expand_more</i></div>
                                            </template>
                                        </div>
                                        <template v-if="b.isOpen">
                                            <div class="checklist-body">{{ b.body }}</div>
                                        </template>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </template>
                </div>
                <div class="col hide-on-small-only m3 l2">
                    <ul class="section table-of-contents pined">
                        <template v-for="(a, i) in contents">
                            <li class="outerList">
                                <a v-bind:href="'#' + i"> {{ (i + 1) + ". " + a.title }}</a>
                                <ul class="display-none">
                                    <template v-for="(b, j) in a.items">
                                        <li class="innerList">
                                            <a v-bind:href="'#' + i + '_' + j"> {{ (i + 1) + '-' +(j + 1) + ". " + b.head }}</a>
                                        </li>
                                    </template>
                                </ul>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="index.js"></script>
</body>

</html>